version: ""
security:
  os:
    ca:
      crt: ${os_ca_crt}
      key: ${os_ca_key}
    identity:
      crt: ${os_identity_crt}
      key: ${os_identity_key}
  kubernetes:
    ca:
      crt: ${kubernetes_ca_crt}
      key: ${kubernetes_ca_key}
networking:
  os: {}
  kubernetes: {}
services:
  init:
    containerRuntime: docker
    cni: ${container_network_interface}
  kubeadm:
    configuration: |
      apiVersion: kubeadm.k8s.io/v1alpha3
      kind: JoinConfiguration
      controlPlane: true
      discoveryTokenAPIServers:
      - ${control_plane_endpoint}:443
      # TODO(andrewrynhard): How can we get the certificate's hash using only
      # TF?
      # discoveryTokenCACertHashes:
      # - cert_hash
      discoveryTokenUnsafeSkipCAVerification: true
      token: '${token}'
      nodeRegistration:
        taints: ${taints}
        kubeletExtraArgs:
          node-labels: ${labels}
          feature-gates: ExperimentalCriticalPodAnnotation=true
  trustd:
    image: docker.io/autonomy/trustd:latest 
    username: '${trustd_username}'
    password: '${trustd_password}'
    endpoints: ${trustd_endpoints}
  proxyd:
    image: docker.io/autonomy/proxyd:latest 
  blockd:
    image: docker.io/autonomy/blockd:latest 
  osd:
    image: docker.io/autonomy/osd:latest 
install:
  wipe: true
  boot:
    device: /dev/sda
    size: 1024000000
  root:
    device: /dev/sda
    data:
      - http://${bootstrap_node}:8080/assets/talos/v0.1.0-alpha.14/rootfs.tar.gz
    size: 1024000000
  data:
    device: /dev/sda
    size: 1024000000
